<footer class="footer" role="contentinfo">
	<div class="container py4">
		<div class="columns">
			<div class="column xs-col-12 col-md-6">
					<p>
						<a class="btn btn-link" href="{{ site.baseurl }}/">Magical Pipelines</a>
						<a class="btn btn-link" href="{{ site.baseurl }}/luna/archive/">{{ site.ksql_functions | size }} KSQL functions and counting</a>
					</p>
			</div>
			<div class="column xs-col-12 col-md-6" style="margin-left: auto;">


			<div class="text-right">
				<div class="text-right">

					<div class="btn-group">
						{% if paginator.previous_page %}
						<a class="btn" href="{{ paginator.previous_page_path }}">Previous</a>
						{% endif %}
						{% if paginator.next_page %}
						<a class="btn" href="{{ paginator.next_page_path }}">Next</a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

{% if site.buildtype == "production" %}
{% asset app %}
{% else %}
<script async src="{{site.baseurl }}/assets/js/app.js"></script>
{% endif %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-33871948-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-33871948-2');
</script>

