---
layout: compress
---

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <div class="content">
    {{ content }}

    <script>
    	window.store = [
    	{% for item in site.ksql_functions %} {
				"name": {{item.name | jsonify}},
				"author": {{item.author | jsonify}},
				"image": {{ item.image | jsonify }},
				"install_id": {{ item.install_id | jsonify }},
				"link": {{ item.url | jsonify }},
    		"type": {{ item.type | jsonify }},
    		"tags": {{ item.tags | jsonify }}
    	}
    	{% unless forloop.last %}, {% endunless %}
    	{% endfor %}]
    </script>
    </div>   
    {% include footer.html %}

  </body>
</html>

